<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FilmFlix</title>
</head>
<body>
    <h1>Welcome to FilmFlix</h1>
    <ul>
        <li><a href="{{ url_for('view_films') }}">View All Films</a></li>
        <li><a href="{{ url_for('add_film') }}">Add Film</a></li>
        <li><a href="{{ url_for('delete_film') }}">Delete Film</a></li>
        <li><a href="{{ url_for('update_select') }}">Update Film</a></li>
        <h2>Reports</h2>
        <li><a href="{{ url_for('report_select_genre') }}">Search Films by Genre</a></li>
        <li><a href="{{ url_for('report_select_year') }}">Search Films by Year</a></li>
        <li><a href="{{ url_for('report_select_rating') }}">Search Films by Rating</a></li>

    </ul>

</body>
</html>